app.xamarin/Xyzu/bin
app.xamarin/Xyzu/obj
app.xamarin/Xyzu.Droid/bin
app.xamarin/Xyzu.Droid/obj
app.xamarin/Xyzu.ExoPlayer/bin
app.xamarin/Xyzu.ExoPlayer/obj
app.xamarin/Xyzu.Extensions/bin
app.xamarin/Xyzu.Extensions/obj
