.vs
app.xamarin/BoxedVerticalSeekBar/bin
app.xamarin/BoxedVerticalSeekBar/obj
app.xamarin/SeekArc.Droid/bin
app.xamarin/SeekArc.Droid/obj
app.xamarin/Xyzu/bin
app.xamarin/Xyzu/obj
app.xamarin/Xyzu.Droid/bin
app.xamarin/Xyzu.Droid/obj
app.xamarin/Xyzu.Droid.Player/bin
app.xamarin/Xyzu.Droid.Player/obj
app.xamarin/Xyzu.Droid.Images/bin
app.xamarin/Xyzu.Droid.Images/obj
app.xamarin/Xyzu.Droid.Library/bin
app.xamarin/Xyzu.Droid.Library/obj
app.xamarin/Xyzu.Droid.Extensions/bin
app.xamarin/Xyzu.Droid.Extensions/obj
assets/New Folder
